<% content_for :homepage, true %>

<% content_for :content do %>
  <section class="slab slab--hero">
    <div class="grid">
      <div class="grid__item">
        <h1>Give your community the help it deserves.</h1>
        <p class="with-padding-med">A tool for fee agents to help community members apply for or renew their benefits.</p>
        <%= link_to screen_path(FormNavigation.first) do %>
          <button class="button button--cta with-padding-med">Help someone now</button>
        <% end %>
        <a href="#scroller-target" class="scroller scroller--light"><span class="sr-only">Skip to content</span></a>
      </div>
    </div>
  </section>
  <section class="slab slab--white slab--padded" id="scroller-target">
    <div class="grid">
      <div class="grid__item width-one-half shift-one-fourth">
        <%= image_tag("cfa_alaska_logos.png", alt: "Alaska State seal / Code for America logo") %>
        <p>This service was built in partnership with the Alaska <strong>Department of Public Assistance by Code for America</strong>.</p>
      </div>
    </div>
  </section>

  <section class="slab slab--white is-desktop-hidden--inline">
    <div class="grid with-padding-large">
      <div class="grid__item width-one-half shift-one-fourth">
        <h2>How it works.</h2>
      </div>
    </div>

    <%= render "shared/how_it_works_vertical" %>
  </section>

  <section class="slab slab--off-white is-tablet-hidden--inline">
    <div class="grid with-padding-large">
      <div class="grid__item width-one-half shift-one-fourth">
        <h2>How it works.</h2>
      </div>
    </div>

    <div class="grid">
      <div class="grid__item text--small width-one-third center">
        <%= render "shared/how_it_works_step1" %>
      </div>
      <div class="grid__item text--small width-one-third center">
        <%= render "shared/how_it_works_step2" %>
      </div>
      <div class="grid__item text--small width-one-third center">
        <%= render "shared/how_it_works_step3" %>
      </div>
    </div>
  </section>
<% end %>