<% content_for :card_title, "Let's review some of the important details." %>

<% content_for :card_body do %>
  <div class="vertical-steps text--centered">
    <div class="vertical-steps__step">
      <h3>Fee agent details</h3>
      <%= current_interview.fee_agent_name %><br>
      <%= current_interview.fee_agent_email %><br>
      <%= format_phone_number(current_interview.fee_agent_phone_number) %>
    </div>
    <div class="vertical-steps__step">
      <h3>Applicant details</h3>
      <%= current_interview.client_name %><br>
      XXX-XX-<%= current_interview.client_last_four_ssn %>
    </div>
    <div class="vertical-steps__step">
      <h3>This <%= application_or_renewal %> is for</h3>
      <%= raw "SNAP<br>" if current_interview.selected_snap %>
      <%= raw "Medicaid<br>" if current_interview.selected_medicaid %>
      <%= raw "General Relief<br>" if current_interview.selected_general_relief %>
      <%= raw "Alaska Temporary Assistance<br>" if current_interview.selected_atap %>
      <%= raw "Adult Public Assistance<br>" if current_interview.selected_apa %>
      <%= raw "CAMA" if current_interview.selected_cama %>
    </div>
  </div>
<% end %>
