<!DOCTYPE html>
<html lang="en">
<head>
  <% if content_for? :card_title %>
    <title><%= content_for :card_title %> | Fee Agents Assister for Alaska</title>
  <% else %>
    <title>Fee Agents Assister for Alaska</title>
  <% end %>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body <%= "class=template--homepage" if content_for? :homepage %>>
<div class="page-wrapper <%= "dark-background" if content_for? :success %>">
  <div class="demo-banner">
    This site is for example purposes only.
  </div>
  <%= render 'shared/header' unless content_for? :homepage %>
  <%= content_for(:content) ? content_for(:content) : yield %>
</div>
<%= render 'shared/footer' %>
</body>
</html>