<% content_for :content do %>
  <div class="slab">
    <main id="main" class="form-card form-card--transition">
      <header class="form-card__header">
        <%= yield :card_illustration %>
        <h1 class="form-card__title">
          <%= yield :card_title %>
        </h1>

        <% if content_for? :card_help %>
          <p class="text--help">
            <%= yield :card_help %>
          </p>
        <% end %>
      </header>

      <div class="form-card__content">
        <%= yield :card_body %>
      </div>

      <div class="form-card__footer">
        <% if content_for? :card_footer %>
          <%= yield :card_footer %>
        <% else %>
          <%= render "shared/next_step_link", button_label: content_for(:card_footer_button_label) || 'Continue' %>
        <% end %>
      </div>
    </main>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
