<% content_for :content do %>
  <div class="slab">
    <main id="main" class="form-card form-card--transition">
      <%= form_with url: current_path, method: :put, local: true %>

        <header class="form-card__header">
          <%= yield :card_illustration %>
          <p class="form-card__title">
            <%= yield :card_title %>
          </p>

          <% if content_for? :card_help %>
            <p class="text--help">
              <%= yield :card_help %>
            </p>
          <% end %>
        </header>

        <div class="form-card__content">
          <%= yield :card_body %>
        </div>

        <div class="form-card__footer">
          <% if content_for? :card_footer %>
            <%= yield :card_footer %>
          <% else %>
            <%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
              <%= f.cfa_single_tap_button(yes_no_method_name,
                                          '<i class="button__icon--left emoji emoji--inline emoji--checkmark"></i>Yes',
                                          try(:yes_value) ? yes_value : "yes",
                                          classes: []) %>

              <%= f.cfa_single_tap_button(yes_no_method_name,
                                          '<i class="button__icon--left emoji emoji--inline emoji--crossmark"></i>No',
                                          try(:no_value) ? yes_value : "no",
                                          classes: []) %>
            <% end %>
          <% end %>
        </div>
      </form>
    </main>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
